<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"/>
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>MyCodingTutor &mdash; Get help from local experts mycodingtutor.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Learn to code with help from a mentor at mycodingtutor.com" />
	<meta name="keywords" content="code, code tutor, coding tutor, programming tutor, learn to code, java tutor, coding help, code help, programming help" />
	<meta name="author" content="mycodingtutor.com" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->
	
	<!-- Ajax lib -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css"></link>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css"></link>
	<!-- Themify Icons-->
	<link rel="stylesheet" href="css/themify-icons.css"></link>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css"></link>

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css"></link>

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css"></link>
	<link rel="stylesheet" href="css/owl.theme.default.min.css"></link>

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css"></link>

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 text-right gtco-contact">
					<ul class="">
						<li><a href="tel://16195666057"><i class="ti-mobile"></i> +1 (619) 566-6057</a></li>
						<li><a href="http://twitter.com/gettemplatesco"><i class="ti-twitter-alt"></i> </a></li>
						<li><a href="mailto:info@mycodingtutor.com"><i class="icon-mail2"></i></a></li>
						<li><a href="https://www.facebook.com/mycodingtutor/"><i class="ti-facebook"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="index.html">My Coding Tutor <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="/home">Home</a></li>
						<li class="active"><a href="/about">About</a></li>
						<li><a href="/services">Services</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">About Us</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Get the coding help you need to from local experts!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>The Company</h2>
					<p>We're a small team with a big mission to make computer science less daunting.</p>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-6">
					<p>Coming from different backgrounds, we understand what it is like to learn how to code. We know it is not easy. We have struggled in many of the same ways you have, and will. What we are building is a community where you can feel comfortable asking the silly questions because only by asking questions about how things work will you learn and grow.</p>
				</div>
				<div class="col-md-6">
					<p>Our mission is to provide you with the support and mentorship you can't get online. We provide custom support tailored around what you learn in the classroom, online, and on your own. We know that even with the best resources in the world, even the best struggle sometimes, and we will be there for you when that time comes. Lets us help you through your struggle. Let us provide that much needed mentorship while you build your skills preparing for your future.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h3>See The Photos</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/img_1.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co"/>
						</div>
						<div class="item">
							<img src="images/img_2.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co"/>
						</div>
						<div class="item">
							<img src="images/img_3.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co"/>
						</div>
						<div class="item">
							<img src="images/img_4.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co"/>
						</div>
						<div class="item">
							<img src="images/img_5.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co"/>
						</div>
						<div class="item">
							<img src="images/img_6.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co"/>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>

	<div id="gtco-team" class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Meet The Team</h2>
					<p>A small group of experienced and knowledgeable tutors who care about your success!</p>
				</div>
			</div>


			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/person_1.jpg" alt="Free HTML5 Templates by gettemplates.co"/>
						<h3>Jeremiah Bunton</h3>
						<strong class="role">Founder/Computer Programmer</strong>
						<p>Jeremiah got his B.S. in Computer Science from St Lawrence University and has been programming professionally for the past three years for several large companies.
						During his time at St Lawrence he spent time as a TA, mentoring students in entry level programming classes. After graduation, Jeremiah took to professional programming
						but always had a desire to give back to the community that helped him achieve success. During his spare time Jeremiah taught an entry level video game design course for children. As
						Jeremiah taught this course he realized there wasn't a good place where his students could get help outside of class which led him to 
						start this tutor/mentor program. Jeremiah hopes to reach as many students as possible of all ages and levels to help them see how programming can be simple. Jeremiah believes that
						 programming will help facilitate many skills that will be extremely valuable today, tomorrow, and for the rest of your life.</p>
						<ul class="gtco-social-icons">
							<li><a href="https://www.facebook.com/mycodingtutor/"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="https://github.com/jeremiahbunton"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co"/>
						<h3>Tori Russ</h3>
						<strong class="role">Young Learners program director</strong>
						<p>Tori has her masters in education from Potsdam University in upstate New York and has been teaching for the past two years. Tori has a passion for helping ensure quality 
						education from K-12. Tori uses her expertise to plan course material for different age groups, using her knowledge to provide age appropriate material to keep children engaged 
						and make sure they learn computer programming principles in a fun and interactive way. Tori's passion is seeing kids achieve milestones on an individual basis and she will 
						continue to establish industry education standards in all the courses we provide.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co"/>
						<h3>Alex King</h3>
						<strong class="role">Back-end Developer</strong>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
			</div>

		</div>
	</div>

	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Subscribe</h2>
					<p>Be the first to know about upcoming specials and package deals.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form action="#" th:action="@{/about}" th:object="${subscriber}" method="post" class="form-inline" id="submit-form" >
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input th:field="*{email}" type="email" class="form-control" id="email" placeholder="Your Email"></input>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Your Name"></input>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-4">
							<button id="submitbtn" class="btn btn-default btn-block" >Subscribe</button>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>We are a group of programmers who care about you. We know what it is like to learn programming and all of the challenges you are facing.
						Our mission is to provide you with support and guidance to get you through the hard parts. We will help you overcome hurdles, provide mentorship,
						and do our best to make sure you are prepared for the next steps in your coding career. </p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">
						<h3>Links</h3>
						<ul class="gtco-footer-links">
							<li><a href="/contact">Contact us</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/services">Services</a></li>
						
						<!-- 
							<li><a href="#">Knowledge Base</a></li>
							<li><a href="#">Career</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Terms of services</a></li>
							<li><a href="#">Privacy Policy</a></li>
							
						-->
						
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li class="phone"><a href="tel://16195666057">+1 (619) 566-6057</a></li>
							<li class="email"><a href="mailto:info@mycodingtutor.com">info@mycodingtutor.com</a></li>
							<!--<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>-->
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2017 MyCodingTutor. All Rights Reserved.</small> 
						<small class="block">Designed by gettemplates</small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/mycodingtutor/"><i class="icon-facebook"></i></a></li>
							<!--<li><a href="#"><i class="icon-linkedin"></i></a></li> -->
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>